<h1>
  Listing Albums
</h1>
<table>
  <tr>
    <th>Album Name</th>
    <th>Singer</th>
    <th>Release Year</th>
    <th>Record Company</th>
  </tr>
 
  <% @album.each do |album| %>
    <tr>
      <td><%= album.album_name %></td>
      <td><%= Singer.find(album.ng_singers_id).name %></td>
      <td><%= album.release_year %></td>
      <td><%= album.record_company %></td>
    </tr>
  <% end %>
</table>